#advantages .information_fee{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advantages .information_fee figure{
    margin: 30px 0 10px;
}

#advantages .information_small_title1{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

#advantages .information_small_title2{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

#advantages p{
    text-align: center;
    margin-top: 15px;
    line-height: 35px;
}

@media (max-width: 768px) {
    #advantages p{
        width: 85%;
    }

    #advantages p br{
        display: none;
    }
}

.main_info{
    width: 100%;
    height: 50vw;
    max-height: 600px;
    object-fit: cover;
    object-position: center center;
}

@media (max-width: 768px) {
    .main_info{
        height: 100vw;
        max-height: 500px;
    }
}

#vacancies .vacancies>li img{
    height: 50vw;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center center;
    margin: 40px 0;
}

#voice .layouts {
    margin: 55px auto 0;
    max-width: 830px
}

@media (min-width: 768px) {
    #voice .layouts>li {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

#voice .layouts>li+li {
    margin-top: 64px
}

#voice .layouts>li h2 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 100%
}

@media (min-width: 768px) {
    #voice .layouts>li figure {
        width:calc(40% - 12px)
    }
}

.voice_content{
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 767px){
    .voice_content{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        padding: 5% 0;
    }
}

.voice_content h3{
    font-size: 18px;
    line-height: 30px;
}

.voice_content p{
    margin-top: 20px;
}

#work {
    background: #f8f8f8;
    margin-top: 70px
}

@media (max-width: 768px) {
    #work {
        margin: 0;
    }

    #work h2 br{
        display: none;
    }

    #work p br{
        display: none;
    }

    .voice_content h3 br{
        display: none;
    }
}

#work h2{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#work p{
    line-height: 25px;
    text-align: center;
    margin: 25px 0;
}

swiper-container {
    width: 100%;
    height: 100%;
    margin: 50px 0 30px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-position: center center;
    object-fit: cover;
}

.shop_content{
    width: 55%;
    margin-left: 5%;
}

.shop_content p{
    line-height: 25px;
    margin: 25px 0;
}

.shop_content p span{
    font-weight: 700;
    font-size: 16px;
}

.shop_content-top{
    width: 100px;
    height: 3px;
    background-color: #000000;
    border-radius: 3%;
}

@media (max-width: 767px) {
    .shop_content{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

#advantage2 ul{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {
    #advantage2 ul{
        display: block;
    }
}

#advantage2 ul li{
    width: 30%;
}

@media (max-width: 550px) {
    #advantage2 ul li{
        width: 100%;
        display: flex;
        gap: 0 10vw;
        align-items: center;
    }
}

#advantage2 ul li figure{
    width: 100%;
    height: 20vw;
    max-height: 300px;
}

@media (max-width: 550px) {
    #advantage2 ul li figure{
        width: 100%;
        height: 40vw;
    }
}

#advantage2 ul li figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(7) {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(7) .text {
        -ms-flex-negative:0;
        flex-shrink: 0;
        max-width: 370px
    }
}

#advantages .advantages>li:nth-child(7) .text::after {
    content: "Towel"
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(8) {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(8) .text {
        -ms-flex-negative:0;
        flex-shrink: 0;
        max-width: 370px
    }
}

#advantages .advantages>li:nth-child(8) .text::after {
    content: "Wi-Fi"
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(8) {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(9) {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(9) .text {
        -ms-flex-negative:0;
        flex-shrink: 0;
        max-width: 370px
    }
}

#advantages .advantages>li:nth-child(9) .text::after {
    content: "Towel"
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(10) {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(10) .text {
        -ms-flex-negative:0;
        flex-shrink: 0;
        max-width: 370px
    }
}

#advantages .advantages>li:nth-child(8) .text::after {
    content: "Wi-Fi"
}

@media (min-width: 768px) {
    #advantages .advantages>li:nth-child(10) {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

}

